/* You can add global styles to this file, and also import other style files */

:root {
    --button-color: #db46ae; 
}


@media only screen and (max-width: 992px) {
    /* For tablets: */
    :root {
        --svg-logo: 4.5em;
    }
}
@media only screen and (min-width: 993px) {
    /* For desktop: */
    :root {
        --svg-logo: 5em;
    }

}