nav{
    background-color:#78ecc2;
    position: fixed;
    overflow: hidden;
    top: 0
}
.svglogo {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 2.5px;
}