<a id="loadbutton">
  <div id="icecream-bowl">
    <div id="letter"></div>

    <div id="animation">
      <div class="chocolate scoop"></div>
      <div class="vanilla scoop"></div>
      <div class="strawberry scoop"></div>
      <div class="chocolate scoop"></div>
      <div class="vanilla scoop"></div>
      <div class="chocolate scoop"></div>
      <div class="strawberry scoop"></div>
      <div class="cherry"></div>
      <div class="bites">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="bowl"></div>
    </div>
  </div>

</a>
<!--

tumblr embed code

<iframe src="https://fiddle.jshell.net/alexbergin/3wkcc/200/show/" width="500" height="300" style="display:block;background-color:transparent;overflow:hidden;" allowTransparency="false" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

-->