<a id="loadbutton" [routerLink]="['/results']">
  <div id="icecream-bowl">
    <div id="letter">click me</div>

    <div id="animation">
      <div class="chocolate scoop"></div>
      <div class="vanilla scoop"></div>
      <div class="strawberry scoop"></div>
      <div class="chocolate scoop"></div>
      <div class="vanilla scoop"></div>
      <div class="chocolate scoop"></div>
      <div class="strawberry scoop"></div>
      <div class="cherry"></div>
      <div class="bites">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="bowl"></div>
    </div>
  </div>

</a>