<!-- [routerLink]="['/results']" -->
<a id="loadbutton" (click)="showLoading()" >
  
  <div id="icecream-bowl">
    <div id="letter"><i id="test1">click me</i></div>

    <div id="animation" class="test">
      <div class="chocolate scoop"></div>
      <div class="vanilla scoop"></div>
      <div class="strawberry scoop"></div>
      <div class="chocolate scoop"></div>
      <div class="vanilla scoop"></div>
      <div class="chocolate scoop"></div>
      <div class="strawberry scoop"></div>
      <div class="cherry"></div>
      <div class="bites">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="bowl"></div>
    </div>
  </div>

</a>